<!-- <ion-view view-title="Playlist detail">
 <ion-header-bar class="bar-darkgrey" style="">
      <h1 class="title">ARTISTS</h1>
    </ion-header-bar>
    <ion-content class="darkbg light-bg dark-border">





<div class="detail-header-box">
<img src="../data/artworks/grey_artwork.jpg" style="width: 100px; height: auto">
<h5>Artist name</h5>
<p>Album name</p>
</div>


 <div style="height: 25px"></div>


       <div class="list">
            <div class="item item-song two-lines"  >
               
                <h2>Come on done</h2>
                <p>Duran Duran</p>
                <button class="button button-icon ion-more" ></button>
            </div>        
      </div>
    </ion-content>
  </ion-view>

 -->







<ion-view view-title="Playlist detail">
 <ion-header-bar class="bar-darkgrey" style="">
      <h1 class="title">ARTISTS</h1>
    </ion-header-bar>
    <ion-content class="darkbg light-bg dark-border">





<div class="detail-header-box">
<img src="../data/artworks/grey_artwork.jpg" style="width: 100px; height: auto">
<h5>Artist name</h5>
<p>Album name</p>
</div>


 <div style="height: 25px"></div>


       <div class="list">
         <div class="item item-divider album-header">
              Album A
           </div>
            <div class="item item-song two-lines"  >
               
                <h2>Come on done</h2>
                <p>Duran Duran</p>
                <button class="button button-icon ion-more" ></button>
            </div>
            <div class="item item-song two-lines"  >
               
                <h2>Something wrong</h2>
                <p>Duran Duran</p>
                <button class="button button-icon ion-more" ></button>
            </div>
          <div class="item item-divider album-header">
              Album A
           </div>
            <div class="item item-song two-lines"  >
               
                <h2>Rain</h2>
                <p>Duran Duran</p>
                <button class="button button-icon ion-more" ></button>
            </div>
      </div>
    </ion-content>
  </ion-view>