<ion-view view-title="Selecrt Directories">


<ion-header-bar class="bar-darkgrey" style="">
 <button class="button button-icon ion-ios-arrow-left"></button>
      <h1 class="title">SELECT DIRECTORY</h1>
      <button class="button button-icon assertive ion-ios-close-outline" ></button>
    </ion-header-bar>


    <ion-content >

        <div class="list">
            <div>
                <a class="item dark item-icon-left" href="#">
                    <i class="icon ion-folder" ></i>
                    file.name
                </a>
            </div>
                        <div>
                <a class="item dark item-icon-left" href="#">
                    <i class="icon ion-folder" ></i>
                    file.name
                </a>
            </div>
                        <div>
                <a class="item dark item-icon-left" href="#">
                    <i class="icon ion-folder" ></i>
                    file.name
                </a>
            </div>
                        <div>
                <a class="item dark item-icon-left" href="#">
                    <i class="icon ion-folder" ></i>
                    file.name
                </a>
            </div>
        </div>

    </ion-content>
</ion-view
