    <ion-header-bar class="bar-dark">
      <h1 class="title">Home</h1>
       
    </ion-header-bar>




    <ion-content class="darkbg light-bg dark-border">
     
      <div class="row">
        <div class="col col-50">                    
          <button class="button button-large button-full button-dark idpro-button-full ">
            <i class="idpro-icon-large icon-right ion-ios-musical-note"></i><br>
            Songs
          </button>          
        </div>
        
        <div class="col col-50">
          <button class="button button-large button-full button-dark  idpro-button-full">
            <i class="idpro-icon-large icon-right ion-ios-people"></i><br>
            Artists
          </button>
        </div>        
      </div>

      <div class="row">
        <div class="col col-50">
          <a href="#/tab/me_playlists">
              <button class="button button-large button-full button-dark  idpro-button-full" ng-href="#/tab/settings">
                <i class="idpro-icon-large icon-right ion-ios-paper-outline"></i><br>
                Playlists
              </button>
          </a>
        </div>
        
        <div class="col col-50">          
          <button class="button button-large button-full button-dark idpro-button-full">
            <i class="idpro-icon-large icon-right ion-ios-heart"></i><br>
            Fav
          </button>          
        </div>        
      </div>
      <h2>Last played</h2>

      <h2>Last added</h2>

      <h2>Top played</h2>
      
    </ion-content>