<ion-view view-title="Playlist">
     <ion-header-bar class="bar-darkgrey" style="">
      <h1 class="title">PLAYLIST</h1>
    </ion-header-bar>

    <ion-content class="darkbg light-bg dark-border">


    <div class="new_playlist_button">
		<button class="button icon-left ion-plus-round button-block button-orange">
		   Add new playlist
		</button>
    </div>	<!-- ng-href="#/tab/me_playlist_detail" -->
            <div class="list">
		            <a  class="item item-thumbnail-left" ng-href="#/tab/me_playlist_detail">
		                <img ng-src="../data/artworks/grey_artwork.jpg">
		                <h2>Playlist one</h2>
		                <p><b>20 </b> songs<i class="icon ion-ios-heart"></i></p>

		            </a>
 		            <a  class="item item-thumbnail-left" ng-href="#/tab/me_playlist_detail">
		                <img ng-src="../data/artworks/grey_artwork.jpg">
		                <h2>Playlist one</h2>
		                <p><b>20 </b> songs<i class="icon ion-ios-heart"></i></p>
		            </a>
		            <a  class="item item-thumbnail-left" >
		                <img ng-src="../data/artworks/grey_artwork.jpg">
		                <h2>Playlist one</h2>
		                <p><b>20 </b> songs<i class="icon ion-ios-heart"></i></p>
		            </a>		                   
        </div>
		
      
    </ion-content>
  </ion-view>