<!-- <ion-view view-title="Player" >
    <ion-header-bar class="bar-darkblue" >
      <h1 class="title">Songs</h1>
    </ion-header-bar>
    <ion-content id="player" scroll="false">
               <div class="item item-image">
                  <img src="../data/artworks/grey_artwork.jpg">
                </div>


        <div class="controls">
            <div class="vertical-centering-container">
                <div class="vertical-centering-content">
                    <div class="control-bar">
                        <div class="control-box">
                            <button  class="button button-icon ion-ios-rewind backward" ></button>
                            <button  class="button button-icon ion-ios-play play" ></button>
                           
                            <button  class="button button-icon ion-ios-fastforward forward" ></button>
                        </div>


                        <button class="button button-icon loop" n></button>
                        <button class="button button-icon shuffle" ></button>

                    </div>
                </div>

        <i class="icon like"></i>

            </div>
        </div>






    </ion-content>
</ion-view>
 -->



<ion-view view-title="Player" >
     <ion-header-bar class="bar-darkgrey" style="">
      <a  nav-direction="forward"  class="button button-icon icon ion-chevron-down" href="#/me_search"></a>
      <h1 class="title">SONGS</h1>
      <a  nav-direction="forward"  class="button button-icon icon ion-ios-heart" href="#/me_search"></a>
    </ion-header-bar>

    <ion-content  scroll="false">
 <!--  <play-square></play-square> -->
      
<!-- END  <play-square> -->
<div class="play-square">
<div class="artwork">COver</div>
</div>
                 <div class="cover">
                  <!-- <img src="http://imgh.us/powers.jpg"> -->
                </div>

 
  


    



       <!--  <playlist-bar></playlist-bar> -->




    </ion-content>
     <ion-footer-bar  class="customFooter" >
 <div id="me_player">   
 <div class="controls">

         <div class="player_label">             
    <span class="artist"><h9>It's my world</h9></span>
                    <br/>
                    <span class="song"><h9>Duran Duran</h9></span>
   </div>              


    
        <div class="range">    
                       <input seeker-Slider type="range" name="volume" min="0" max="100" />
                
        </div>

<div > 
  <span class="alignleft"><h9>1:00</h9></span> 

  <span class="alignright"><h9>5:00</h9></span> 
</div>




            <div class="vertical-centering-container">
                <div class="vertical-centering-content">
                    <div class="control-bar">
                        <div class="control-box">
                            <button  class="button button-icon ion-ios-rewind backward" ></button>
                            <button  class="button button-icon ion-ios-play play" ></button>
                          
                            <button  class="button button-icon ion-ios-fastforward forward"></button>
                        </div>


                        <button class="button button-icon loop ion-ios-loop-strong " ></button>
                        <button class="button button-icon shuffle ion-ios-shuffle-strong" ></button>

                    </div>
                </div>
<!-- 
                <i class="icon like ion-ios-heart"></i> -->

            </div>
                 
        </div>
        </div>
     </ion-footer-bar>
</ion-view>











