<ion-view view-title="Playlist detail">
     <ion-header-bar class="bar-darkgrey" style="">
     <button class="button button-icon icon ion-gear-a"></button>
      <h1 class="title">PLAYLIST</h1>
         <button class="button button-icon icon ion-android-search" >
        <a  href="#/tab/me_search"></a>
      </button>
    </ion-header-bar>


    
    <ion-content class="darkbg light-bg dark-border">
    <div class="detail-header-box">
    <img src="../data/artworks/grey_artwork.jpg" style="width: 100px; height: auto">
    <h5>Playlist one</h5>
        <p><b>20 </b> songs<i class="icon ion-ios-heart"></i></p>
                        
    </div>

	<!-- ng-href="#/tab/me_playlist_detail" -->
           <div style="height: 25px"></div>
       <div class="list">
            <div class="item item-song two-lines"  >
                <img  ng-src="../data/artworks/grey_artwork.jpg" />
                <h2>Come on done</h2>
                <p>Duran Duran</p>
                <button class="button button-icon ion-more" ></button>
            </div>
            <div class="item item-song two-lines"  >
                <img  ng-src="../data/artworks/grey_artwork.jpg" />
                <h2>Something wrong</h2>
                <p>Duran Duran</p>
                <button class="button button-icon ion-more" ></button>
            </div>
            <div class="item item-song two-lines"  >
                <img  ng-src="../data/artworks/grey_artwork.jpg" />
                <h2>Rain</h2>
                <p>Duran Duran</p>
                <button class="button button-icon ion-more" ></button>
            </div>
      </div>
    </ion-content>
  </ion-view>