<ion-view view-title="Songs">
    <ion-header-bar class="bar-darkgrey" style="">
      <h1 class="title">SONGS</h1>
    </ion-header-bar>
    <ion-content class="darkbg light-bg dark-border">

       <div class="list">
            <div class="item item-song two-lines" ng-href="#/me_player" >
                <img  ng-src="../data/artworks/grey_artwork.jpg" />
                <h2>Come on done</h2>
                <p>Duran Duran</p>
                <button class="button button-icon ion-more" ></button>
            </div>
            <div class="item item-song two-lines"  >
                <img  ng-src="../data/artworks/grey_artwork.jpg" />
                <h2>Something wrong</h2>
                <p>Duran Duran</p>
                <button class="button button-icon ion-more" ></button>
            </div>
            <div class="item item-song two-lines"  >
                <img  ng-src="../data/artworks/grey_artwork.jpg" />
                <h2>Rain</h2>
                <p>Duran Duran</p>
                <button class="button button-icon ion-more" ></button>
            </div>
      </div>
    </ion-content>
  </ion-view>